/**Override and customize bootstrap styles.**/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.headline {
  color: $brand-primary;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

/** Custom Nav Styles **/
.ssdp-full-header {
  border-bottom: 1px solid #eee;
  background: #fbfbfb;
  padding: 6px 0;
}

@media only screen and (max-width: 768px) {
  .ssdp-full-header {
    display: none;
  }
}

.ssdp-header-contacts {
	font-size: 13px;
	line-height: 24px;
	float: left;
}

.ssdp-header-contact-item{
	float: right;
	margin-right: 22px;
}

.ssdp-header-soc-icon {
	line-height: 18px;
	font-size: 17px;
	padding: 0px 6px 0;
	margin: 5px 0 0;
	display: inline-block;
	float: right;
	opacity:0.9;
}
