{% if page.type_name == "Donation (v2)" %}

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="ssdp-full-header">
    <div id="subheader" class="container">
      <div class="section">
        <div class="ssdp-header-contacts ">
          <a class="" href="mailto:ssdp@ssdp.org" target="" data-toggle="tooltip" data-placement="" title=""><div class="ssdp-header-contact-item"><span class="icon icon-mail2"></span> ssdp@ssdp.org</div></a>
          <div class="ssdp-header-contact-item"><span class="icon icon-mobile3"></span> 202-393-5280</div>
        </div>
        <a target="_blank" href="https://www.youtube.com/user/SSDP" class="header_soc_icon" title="YouTube" style="opacity: 0.9;">
          <i class="fab fa-youtube"></i></a><a target="_blank" href="https://www.instagram.com/schoolsnotprisons/" class="header_soc_icon" title="Instagram" style="opacity: 0.9;">
        <i class="fab fa-instagram"></i></a><a target="_blank" href="https://twitter.com/ssdp" class="header_soc_icon" title="Twitter" style="opacity: 0.9;">
        <i class="fab fa-twitter"></i></a><a target="_blank" href="https://www.facebook.com/ssdp/" class="header_soc_icon" title="Facebook" style="opacity: 0.9;">
        <i class="fab fa-facebook-f"></i></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="navbar-header">
      {% if site.has_meta_image? %}
      <a class="navbar-brand" href="/"><img alt="{{ site.long_name }}" src="{{ site.meta_image_url }}"></a>
      {% else %}
      <a class="navbar-brand" href="/">{{ site.long_name }}</a>
      {% endif %}
    </div>
  </div>
</nav>

{% else %}

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="ssdp-full-header">
    <div id="subheader" class="container">
      <div class="section">
        <div class="ssdp-header-contacts ">
          <a class="" href="mailto:ssdp@ssdp.org" target="" data-toggle="tooltip" data-placement="" title=""><div class="ssdp-header-contact-item"><span class="icon icon-mail2"></span> ssdp@ssdp.org</div></a>
          <div class="ssdp-header-contact-item"><span class="icon icon-mobile3"></span> 202-393-5280</div>
        </div>
        <a target="_blank" href="https://www.youtube.com/user/SSDP" class="header_soc_icon" title="YouTube" style="opacity: 0.9;">
          <i class="fab fa-youtube"></i></a><a target="_blank" href="https://www.instagram.com/schoolsnotprisons/" class="header_soc_icon" title="Instagram" style="opacity: 0.9;">
        <i class="fab fa-instagram"></i></a><a target="_blank" href="https://twitter.com/ssdp" class="header_soc_icon" title="Twitter" style="opacity: 0.9;">
        <i class="fab fa-twitter"></i></a><a target="_blank" href="https://www.facebook.com/ssdp/" class="header_soc_icon" title="Facebook" style="opacity: 0.9;">
        <i class="fab fa-facebook-f"></i></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if site.has_meta_image? %}
      <a class="navbar-brand" href="/"><img alt="{{ site.long_name }}" src="{{ site.meta_image_url }}"></a>
      {% else %}
      <a class="navbar-brand" href="/">{{ site.long_name }}</a>
      {% endif %}
    </div>
    <div id="menu-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for child in site.root_nav_pages %}
        {% if child.leaf? or child.nav_children.size == 0 %}
        <li {% if child.is_or_is_ancestor_of_current_page? %}class="active"{% endif %}>
          <a href="{{ child.url }}">{{ child.name }}</a>
        </li>
        {% else %}
        <li class="{% if child.is_or_is_ancestor_of_current_page? %}active{% endif %} dropdown">
          <a href="{{ child.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ child.name }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% if site.show_parent_in_nav_dropdown? %}
            <li><a href="{{ child.url }}">{{ child.name }}</a></li>
            {% endif %}
            {% for child2 in child.nav_children %}
            <li><a href="{{ child2.url }}">{{ child2.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

{% endif %}
