{% include "breadcrumbs" %}

<div id="content">

  <!-- Single column row blue -->
  <div class ="row bg-primary" style="height:35px"></div>
  <!-- Single column row hero image -->
  <div class = "row">
    <div class = "col-12">
      <img class ="img-responsive" src ="home-page-hero.jpg" alt=" " />
    </div>
  </div>
  <!-- Single column take action/donate now text -->
  <!-- Three column: find chapter, updates, students -->
  <!-- One column: chapters map -->
  <!-- One column: change your campus. change your world -->
  <!-- Two columns: global dpr, harm reduction -->
  <!-- Two columns: campus change, jsk -->
  <!-- Latest from the blog -->
  <!-- Student testimonial slider -->
  <!-- Take action -->

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}


</div>
